/* Init du site web */
/* Supprime les marges et les paddings par défaut des éléments */
* {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
}

/* Déclaration des variables pour les couleurs et le fond de la page */
body {
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --third-color: #ff4500;
  background: linear-gradient(125deg, #ffe9e2, #fff0ea);
}

/* *************** Menu Burger *************** */

/* Bouton circulaire du menu burger */
#navBar {
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  z-index: 100;
  width: 5vw;
  height: 5vw;
  background-color: var(--secondary-color);
}

/* Animation du bouton au survol */
#navBar:hover {
  scale: 1.06;
  transition: 0.3s ease;
}

/* Animation quand la souris quitte */
#navBar:not(:hover) {
  scale: 1;
  transition: 0.3s ease;
}

/* Contenu du menu burger aligné à droite */
.menuBurger {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 5.5vw;
}

/* Fenêtre du menu burger */
#navBar_menuBurger ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background-color: var(--third-color);
}

/* Liens du menu burger */
#navBar_menuBurger li {
  margin: 15vh 0 0 5vw;
}
#navBar_menuBurger a {
  font-size: 2rem;
  font-weight: 700;
  text-decoration-line: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Conteneur global du menu burger (masqué par défaut) */
#navBar_menuBurger {
  display: block;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 100vw;
  height: 100vh;
  transform: translate(200%, 0);
  transition: transform 0.5s ease-out;
}
#navBar_menuBurger .fermer {
  width: 100%;
  height: 100vh;
}

/* Icône du burger */
#navBar_menuBurger_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 5vh;
  margin: auto;
  user-select: none;
  cursor: pointer;
}

/* Barres du menu burger */
#navBar_menuBurger_icon span {
  display: block;
  z-index: 1000;
  width: 100%;
  height: 0.8vh;
  margin-bottom: 0.8vh;
  border-radius: 5px;
  background-color: var(--third-color);
}

/* Menu burger ouvert */
#navBar_menuBurger.open {
  transform: none;
}

/* Transition de l'icône burger vers une croix */
#navBar_menuBurger_icon.open span {
  position: absolute;
  height: 0.7vh;
  transition: 0.5s;
  background-color: black;
}

/* Transformation des barres lors de l'ouverture */
#navBar_menuBurger_icon.open span:nth-child(1) {
  transform: rotate(45deg);
}
#navBar_menuBurger_icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}
#navBar_menuBurger_icon.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

/* *************** FIN Menu Burger *************** */

/* *************** Header scroll *************** */

/* Section de la barre de scroll */
.scroll-bar {
  padding-top: 2rem;
  background-color: var(--secondary-color);
}

/* Conteneur masquant les éléments défilants */
.wrapper {
  width: 90vw;
  height: 25vh;
  margin: auto;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  ); /* Effet de dégradé pour masquer les extrémités */
}

/* Animations pour faire défiler les items */
@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
@keyframes scrollRight {
  to {
    right: -200px;
  }
}

/* Propriétés des items défilants */
.itemLeft,
.itemRight {
  width: 15%;
  height: 150px;
  border-radius: 1em;
  background-color: var(--third-color);
  text-align: center;
  position: absolute;
  animation: scroll 30s linear infinite;
  animation-delay: calc(30s / 6 * var(--i) * -1); /* Décalage entre items */
}

/* Les items défilent vers la gauche */
.itemLeft {
  left: max(calc(100px * 6), 100%);
  animation-name: scrollLeft;
}

/* Les items défilent vers la droite */
.itemRight {
  right: max(calc(100px * 6), 100%);
  animation-name: scrollRight;
}

/* Images dans le scroll */
.wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 1em;
  object-fit: cover; /* Remplissage sans déformation */
}

/* *************** FIN Header scroll *************** */

/* *************** Présentation *************** */

.presentation {
  display: flex;
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0 2rem 0;
  color: var(--third-color);
}
.presentation-text {
  text-align: justify;
  margin: 3rem;
  width: 60vw;
}
.presentation aside {
  width: 40vw;
  padding: auto;
  background-color: #de5656;
}
/* ********************  Footer ******************** */
/* Position du footer */
footer {
  position: absolute;
  right: 10vw;
  top: 1000px;
}
/* boutton share */
.share {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 3px 4px;
  color: rgb(24, 24, 24);
  cursor: pointer;
  font-size: 2em;
  transition: 1s;
}
/* les élements de share */
.share li {
  position: absolute;
  left: 0;
  list-style: none;
  transition: 0.5s;
  transform: rotate(calc(360deg / 4 * var(--s)));
  transform-origin: 125px;
  scale: 0;
  transition-delay: calc(0.07s * var(--s));
}
/* liens de share */
.share li a {
  text-decoration-line: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  transform: rotate(calc(360deg / -4 * var(--s)));
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  font-size: 2em;
  color: var(--color);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
/* Survol des liens */
.share li:hover a {
  font-size: 2.5em;
  box-shadow: 0 0 0 2px var(--color), 0 0 0 6px white;
}
/* Animation de share */
.share.active .toggle {
  transform: rotate(360deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 10px white;
}
/* Apparition des éléments de partage */
.share.active li {
  scale: 1;
}
/* ********************  Page Contact ******************** */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.logo img {
  margin-right: 1em;
  width:7%;
  border-radius: 50%;
}
/* titre de la page */
.contact {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 1rem;
}
/* formulaire */
form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-left: 3em;
}
/* input nom et prenom */
.identite {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
/* input du formulaire */
form input,
textarea {
  margin-bottom: 0.2em;
}
/* label du formulaire */
form label {
  margin: 0.5em;
}
/* bouton submit */
form button {
  width: 20vw;
  background-color: var(--third-color);
  margin: 1rem 0;
}
/* compteur */
#compteur {
  font-size: 0.5em;
  width: 50vw;
  text-align: end;
}
/* Message erreur */
.error {
  text-align: center;
  font-weight: bold;
  color: red;
}
.envoye {
  color: green;
  text-align: center;
  font-weight: bold;
}
/* texte aside */
.text {
  width: 30vw;
  text-align: justify;
  margin: 3rem 0 0 5rem;
}
/* ********************  Page Portfolio ******************** */
.galerie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em;
}
.galerie a {
  height: 200px;
  margin: 0.5em;
  border-radius: 10px;
  overflow: hidden;
}
.galerie img,
#video {
  height: 100%;
  border-radius: 10px;
  transition: 0.5s;
}
.galerie img:hover,
#video:hover {
  scale: 1.1;
  transition: 0.5s;
}
/* pour les grands tableau */
.grand {
  height: 400px !important;
  margin: 0.4em 1.1em !important;
}
/* Les 3 images de fin */
.arcane {
  margin-top: 1.2em !important;
  filter: saturate(0.1);
  transition: 1s;
}
.arcane:hover {
  filter: none;
  scale: 1.2;
  transition: all 1.3s ease;
}
/* **************************************** Responsive pour Tablette *****************************************/
@media screen and (max-width: 1023px) and (min-width: 768px) {
  * {
    font-size: 1rem;
  }
  /* ******************** Menu Burger *********************/
  #navBar {
    top: 10px;
    right: 10px;
    width: 8vw;
    height: 8vw;
  }
  .menuBurger {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 8.5vw;
  }
  /* icone du burger */
  #navBar_menuBurger_icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 5vh;
    margin: auto;
  }
  /* pour changer l'icone burger en icone croix */
  #navBar_menuBurger_icon.open span {
    height: 0.7vh;
  }
  /* ******************** FIN Menu Burger ******************** */
  /* ******************** Header scroll ******************** */
  .scroll-bar {
    padding-top: 2rem;
  }
  /* les bandes de scroll */
  .wrapper {
    width: 90vw;
    height: 20vh;
  }
  /* Items qui défilent */
  .itemLeft,
  .itemRight {
    width: 150px;
    height: 150px;
  }
  /* ********************  FIN Header scroll ******************** */
  /* ********************  Présentation ******************** */
  h1 {
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
  }
  .presentation-text {
    margin: 1rem;
  }
  aside img {
    width: 100%;
  }
  /* ********************  Footer ******************** */
  footer {
    top: 80vh;
    right: 8vw;
  }
  /* boutton share */
  .share {
    width: 200px;
    height: 200px;
  }
  .share .toggle {
    width: 60px;
    height: 60px;
    font-size: 3em;
  }
  /* les élements de share */
  .share li {
    left: 0;
    transform-origin: 100px;
  }
  /* liens de share */
  .share li a {
    width: 60px;
    height: 60px;
    font-size: 2em;
  }
  /* ********************  Page Contact ******************** */
  .logo {
    width: 50vw;
  }
  .logo img {
    margin: 1em;
    margin-bottom: 0;
    width: 20%;
  }
  .responsive-contact {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  /* titre de la page */
  .contact {
    font-size: 1.7rem;
    margin: 4rem;
  }
  /* formulaire */
  form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin-top: 5rem;
  }
  /* input nom et prenom */
  .identite {
    display: flex;
    flex-direction: column;
    width: 25vw;
  }
  /* input du formulaire */
  form input,
  textarea {
    padding: 1rem;
    margin-bottom: 0.2em;
  }
  /* label du formulaire */
  form label {
    margin: 0.5em;
  }
  /* bouton submit */
  form button {
    padding: 0.5rem;
    width: 30vw;
    margin: 1rem 0;
  }
  /* compteur */
  #compteur {
    font-size: 0.5em;
    width: 60vw;
  }
  /* texte aside */
  .text {
    width: 50vw;
    text-align: justify;
    margin: auto;
  }
  /* ********************  Page Portfolio ******************** */
  .galerie {
    margin: 2em;
  }
  .galerie a {
    height: 200px;
    margin: 0.5em;
  }
  /* pour les grands tableau */
  .grand {
    height: 400px !important;
    margin: 0.4em 5em !important;
  }
  /* Les 3 images de fin */
  .arcane {
    filter: saturate(1);
  }
}
/* **************************************** Responsive pour Mobile *****************************************/
@media screen and (max-width: 767px) {
  * {
    font-size: 1rem;
  }
  /* ******************** Menu Burger *********************/
  #navBar {
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
  }
  /* fenetre du menu bruger */
  #navBar_menuBurger ul {
    width: 65vw;
  }
  /* icone du burger */
  #navBar_menuBurger_icon {
    height: 50px;
    width: 30px;
    margin: auto;
  }
  #navBar_menuBurger_icon span {
    height: 0.5vh;
  }
  /* pour changer l'icone burger en icone croix */
  #navBar_menuBurger_icon.open span {
    height: 0.7vh;
  }
  /* ******************** FIN Menu Burger ******************** */
  /* ******************** Header scroll ******************** */
  .scroll-bar {
    padding-top: 2rem;
  }
  /* les bandes de scroll */
  .wrapper {
    width: 90vw;
    height: 15vh;
  }
  /* Items qui défilent */
  .itemLeft,
  .itemRight {
    width: 120px;
    height: 100px;
  }
  /* ********************  FIN Header scroll ******************** */
  /* ********************  Présentation ******************** */
  h1 {
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
  }
  .presentation {
    flex-direction: column;
  }
  .presentation-text {
    margin: 1rem;
    width: 90vw;
  }
  .presentation aside {
    width: 100vw;
    padding-bottom: 20vh;
  }
  aside img {
    width: 100%;
  }
  /* ********************  Footer ******************** */
  footer {
    top: 150vh;
    right: 24vw;
  }
  /* boutton share */
  .share {
    width: 200px;
    height: 200px;
  }
  .share .toggle {
    width: 60px;
    height: 60px;
    font-size: 3em;
  }
  /* les élements de share */
  .share li {
    left: 0;
    transform-origin: 100px;
  }
  /* liens de share */
  .share li a {
    width: 60px;
    height: 60px;
    font-size: 2em;
  }
  /* ********************  Page Contact ******************** */
  .logo {
    width: 50vw;
  }
  .logo img {
    margin: 1em;
    margin-bottom: 0;
    width: 100%;
  }
  .responsive-contact {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  /* titre de la page */
  .contact {
    font-size: 1.7rem;
    margin: 2rem;
  }
  /* formulaire */
  form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
  }
  /* input nom et prenom */
  .identite {
    display: flex;
    flex-direction: column;
    width: 35vw;
  }
  /* input du formulaire */
  form input,
  textarea {
    padding: 1rem;
    margin-bottom: 0.2em;
  }
  /* label du formulaire */
  form label {
    margin: 0.5em;
  }
  /* bouton submit */
  form button {
    padding: 0.5rem;
    width: 30vw;
    margin: 1rem 0;
  }
  /* compteur */
  #compteur {
    font-size: 0.5em;
    width: 80vw;
  }
  /* texte aside */
  .text {
    width: 80vw;
    text-align: justify;
    margin: auto;
    margin-bottom: 2rem;
  }
  /* ********************  Page Portfolio ******************** */
  .galerie {
    margin: 2em;
  }
  .galerie a,
  .grand {
    height: 200px;
    margin: 0.5em;
  }
  /* pour les grands tableau */
  .grand {
    height: 200px !important;
    margin: 0.5em;
  }
  /* Les 3 images de fin */
  .arcane {
    filter: saturate(1);
  }
}
