<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../asset/css/style.css" />
    <link rel="stylesheet" href="../asset/css/lightbox.css" />
    <title>Kaëlem Design - Portfolio</title>
  </head>
  <body>
    <header id="navBar">
      <!-- menu burger -->
      <div id="menuBurger" class="menuBurger">
        <a
          id="navBar_menuBurger_icon"
          aria-label="menu burger"
          href="javascript:void(0);"
          onclick="ouvertureMenuBurger()"
        >
          <span></span>
          <span></span>
          <span></span>
        </a>
        <nav role="navigation" id="navBar_menuBurger">
          <ul>
            <li>
              <a href="../index.html"><small>1.</small> Accueil</a>
            </li>
            <li>
              <a href="#"><small>2.</small> Portfolio</a>
            </li>
            <li>
              <a href="./contact.html"><small>3.</small> Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="logo">
      <img src="../asset/img/logo kalm.png" alt="logo" />
      <h1 style="margin-bottom: 0">Kaëlem Design</h1>
    </section>
    <h2 class="contact">Portfolio</h2>
    <section class="galerie">
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-17.jpg"
      >
        <img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-17.jpg"
          alt="La joconde"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-13.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-13.jpg"
          alt="La Jeune Fille à la perle"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-1.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-1.jpg"
          alt="Le Cri"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-8.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-8.jpg"
          alt="Guernica"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-7.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-7.jpg"
          alt="Guernica"
      /></a>
      <a href="../asset/img/garnica 3.png"
        ><img src="../asset/img/garnica 3.png" alt="Guernica"
      /></a>
      <a
        class="grand"
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-6.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-6.jpg"
          alt="Guernica"
      /></a>
      <a class="grand" href="../asset/img/iron man.png">
        <video autoplay muted loop id="video">
          <source
            src="../asset/img/Enregistrement 2024-12-06 155334.mp4"
            type="video/mp4"
          />
          Votre navigateur ne prend pas en charge la vidéo.
        </video>
      </a>
      <a
        class="grand"
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-1387.jpeg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-1387.jpeg"
          alt="Pokemon all"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-2.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-2.jpg"
          alt="Le Voyageur contemplant une mer de nuages"
      /></a>
      <a href="../asset/img/hulk.png"
        ><img src="../asset/img/hulk.png" alt="hulk"
      /></a>
      <a href="../asset/img/elector.png"
        ><img src="../asset/img/elector.png" alt="elecktor"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-11.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-11.jpg"
          alt="Salamèche, Reptincel et Dracaufeu"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G87.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G87.jpg"
          alt="Hermione Granger"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-DFq.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-DFq.jpg"
          alt="Rémy"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-0.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-0.jpg"
          alt="Les Simpson"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-4.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-4.jpg"
          alt="Bob l’éponge"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-3.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-3.jpg"
          alt="Patrick Étoile"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-5.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-5.jpg"
          alt="Ron Weasley"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G8.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G8.jpg"
          alt="Némo"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G3.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G3.jpg"
          alt="Bob Razowski"
      /></a>
      <a
        class="grand"
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G98.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G98.jpg"
          alt="Harry Potter"
      /></a>
      <a class="grand" href="../asset/img/pokemons.png"
        ><img src="../asset/img/pokemons.png" alt="Pokemon"
      /></a>
      <a
        class="grand"
        href="../asset/img/sign-ronds-personnages-oeuvres-celebres-H1.jpeg"
        ><img
          src="../asset/img/sign-ronds-personnages-oeuvres-celebres-H1.jpeg"
          alt="Magicarpe et Leviator"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G1.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G1.jpg"
          alt="Jacques Sullivan"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-1398.jpeg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-1398.jpeg"
          alt="Sacha"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-138.jpeg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-138.jpeg"
          alt="Ondine"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-134.jpeg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-134.jpeg"
          alt="Stari et Staross"
      /></a>

      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-10.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-10.jpg"
          alt="Bulbizarre, Herbizarre et Florizarre"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-9.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-9.jpg"
          alt="Pichu, Pikachu, Raichu"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-14.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-14.jpg"
          alt="Carapuce, Carabaffe et Tortank"
      /></a>
      <a href="../asset/img/sign-ronds-personnages-oeuvres-celebres-HG3.jpg"
        ><img
          src="../asset/img/sign-ronds-personnages-oeuvres-celebres-HG3.jpg"
          alt="Nidoran, Nidorino et Nidoking"
      /></a>
      <a href="../asset/img/link kalm.png"
        ><img src="../asset/img/link kalm.png" alt="link"
      /></a>
      <a href="../asset/img/sign-ronds-personnages-oeuvres-celebres-HG1.jpg"
        ><img
          src="../asset/img/sign-ronds-personnages-oeuvres-celebres-HG1.jpg"
          alt="Caninos et Arcanin"
      /></a>
      <a href="../asset/img/sign-ronds-personnages-oeuvres-celebres-HG4.jpg"
        ><img
          src="../asset/img/sign-ronds-personnages-oeuvres-celebres-HG4.jpg"
          alt="Miaouss et Persian"
      /></a>
      <a
        href="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G102.jpg"
        ><img
          src="../asset/img/kalm-design-ronds-personnages-oeuvres-celebres-G102.jpg"
          alt="Aspicot, Coconfort et Dardargnan"
      /></a>
      <a class="grand arcane" href="../asset/img/arcane 3.png"
        ><img src="../asset/img/arcane 3.png" alt="wolf arcane"
      /></a>
      <a class="grand arcane" href="../asset/img/arcane 1.png"
        ><img src="../asset/img/arcane 1.png" alt="arcane"
      /></a>
      <a class="grand arcane" href="../asset/img/Aurelion kalm.png"
        ><img src="../asset/img/Aurelion kalm.png" alt="Aurelion"
      /></a>
    </section>

    <script src="../asset/js/lightbox.js" type="module"></script>
    <script
      src="https://kit.fontawesome.com/a28e257516.js"
      crossorigin="anonymous"
    ></script>
    <script src="../asset/js/scipt.js"></script>
  </body>
</html>
